.help-full {
  position: relative;
  background: #e8e8e8c5;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.help-main {
  background-color: white;
  width: 85%;
  height: 85%;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 226);
  box-shadow: 2px 2px 3px gray;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: auto;
}

.help-main .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.help-main > .top-bar > .title {
  color: gray;
  font-size: 24px;
  padding-left: 10px;
}

.help-main .top-bar .close-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.help-main .top-bar .close-button svg {
  width: 20px;
  height: 20px;
}

.help-main .help-body {
  margin: 0 10px 10px 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  position: relative;
  min-height: 0;
  overflow: auto;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: min-content;
}

.help-main .help-body .help-item {
  width: 50%;
  text-align: center;
}

@media (max-width: 700px) {
  .help-main .help-body .help-item {
    width: 100%;
  }
  .help-main {
    width: 95%;
    height: 95%;
  }
}

.help-main .help-body .app-logo {
  min-width: 128px;
  min-height: 128px;
  width: 128px;
  height: 128px;
  /* align-self: center; */
}
