.chart .items-container .item {
  border-right: solid 1px;
  position: relative;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  min-width: 30px;
  max-width: 30px;
}

.chart div {
  user-select: none;
}

.chart .items-container .item .main-content {
  height: 100%;
  overflow: hidden;
}

.chart .items-container .item .item-rule {
  border-top: solid 1px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-indicator {
  position: absolute;
  bottom: -30px;
  left: calc(50% - 14px);
}

.move-to-indicator {
  cursor: pointer;
}

.rotated-text {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}
