.App {
  text-align: center;
  background-color: white;
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(7px + 2vmin); */
  font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.main-chart-container {
  position: relative;
  width: 98%;
  /* height: 75vh; */
  height: 100%;
  max-height: 500px;
  display: flex;
  margin-bottom: 10px;
}

.chart-title {
  margin: 10px 30px 10px 30px;
  width: 72%;
  /* max-width: 100% !important; */
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-bottom: 2px solid transparent;
}

.chart-title:focus {
  border-bottom: 2px dashed gray;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  color: white;
}

.nav-buttons > .comments {
  width: 100%;
  background-color: white;
  border: 2px dashed transparent;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  padding: 5px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

.nav-buttons > .comments:focus {
  border: 2px dashed gray;
}

.nav-buttons > .button {
  padding: 10px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons > .button:hover {
  background-color: #dadada;
}

.nav-buttons > .button .text {
  /* color: rgb(94, 94, 94); */
  color: #053e74;
  user-select: none;
}

.chart-type-buttons {
  margin-bottom: 10px;
}

.chart-type-buttons > div > div {
  border: none !important;
}

.chart-type-buttons > div > div > div {
  color: black;
  margin-right: 15px;
}

@keyframes moveArrowLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5px);
  }
}
.nav-buttons .button:hover .prev-icon {
  animation-duration: 0.3s;
  animation-name: moveArrowLeft;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveArrowRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}
.nav-buttons .button:hover .next-icon {
  animation-duration: 0.3s;
  animation-name: moveArrowRight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.presentation-control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  background: white;
  border-radius: 10px;
}

.presentation-control > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.start-presentation {
  border-radius: 10px;
  border: 1px solid gray;
}

.close-presentation {
}

.start-presentation-icon {
  transition: all 0.2s ease-in-out;
}

.start-presentation:hover .start-presentation-icon {
  transform: scale(1.3);
}

.close-presentation-icon {
  transition: all 0.2s ease-in-out;
}

.close-presentation:hover .close-presentation-icon {
  transform: scale(1.3);
}

@media (max-height: 500px) {
  .chart-title,
  .chart-type-buttons,
  .nav-buttons > .comments {
    display: none;
  }
  .main-chart-container {
    margin-top: 10px;
  }
}
