.App {
  text-align: center;
  background-color: #f5f5f5;
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* font-size: calc(7px + 2vmin); */
  font-size: 16px;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
input:focus {
  outline: none;
}

.main-chart-container {
  position: relative;
  width: 98%;
  height: 70%;
  /* min-height: 350px; */
  max-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-and-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-controls .chart-title {
  margin: 5px 0px 5px calc(20px + 5px);
  flex-grow: 1;
  /* max-width: 100% !important; */
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  border: none;
  border-bottom: 2px solid transparent;
}

.title-and-controls .presentation-control {
  /* background: white; */
  border-radius: 10px;
  margin-right: 5px;
}

.title-and-controls .presentation-control > div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title-and-controls .chart-title:focus {
  border-bottom: 2px dashed gray;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  color: white;
}

.nav-buttons > .comments {
  width: 100%;
  background-color: transparent;
  border: 2px dashed transparent;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  padding: 5px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

.nav-buttons > .comments:focus {
  border: 2px dashed gray;
}

.nav-buttons > .button {
  padding: 10px;
  height: 25px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons > .button:hover {
  background-color: #dadada;
}

.nav-buttons > .button .text {
  color: #053e74;
  user-select: none;
}

.chart-type-buttons {
  margin-bottom: 10px;
}

.chart-type-buttons > div > div {
  border: none !important;
}

.chart-type-buttons > div > div > div {
  color: black;
  margin-right: 15px;
}

@keyframes moveArrowLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-5px);
  }
}
.nav-buttons .button:hover .prev-icon {
  animation-duration: 0.3s;
  animation-name: moveArrowLeft;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes moveArrowRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(5px);
  }
}
.nav-buttons .button:hover .next-icon {
  animation-duration: 0.3s;
  animation-name: moveArrowRight;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.start-presentation {
  border-radius: 10px;
  border: 1px solid gray;
}

.close-presentation {
}

.start-presentation-icon {
  transition: all 0.2s ease-in-out;
}

.start-presentation:hover .start-presentation-icon {
  transform: scale(1.3);
}

.close-presentation-icon {
  transition: all 0.2s ease-in-out;
}

.close-presentation:hover .close-presentation-icon {
  transform: scale(1.3);
}

@media (max-height: 500px) {
  .chart-type-buttons {
    margin-bottom: 0px;
  }

  .chart-type-buttons > div > div {
    padding: 0 0 2px 0;
  }

  .title-and-controls .chart-title {
    padding: 0px;
    margin: 0px 0px 0px calc(30px + 5px);
  }
}

.help-icon {
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.help-icon:hover {
  transform: scale(1.5);
}

.help-icon > svg > circle {
  fill: gray;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgb(0, 0, 0);
  box-shadow: inset 1 1 2px rgb(0, 0, 0);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(117, 117, 117, 0.8);
  -webkit-box-shadow: inset 0 0 2px rgb(148, 148, 148);
  box-shadow: inset 0 0 2px rgb(148, 148, 148);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(175, 175, 175, 0.4);
}
